<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<title></title>
  <style type="text/css">
    <!--code { font-family: Courier New, Courier; font-size: 10pt; margin: 0px; }-->
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head><body>


<!-- ======================================================== -->
<!-- = Java Sourcecode to HTML automatically converted code = -->
<!-- =   Java2Html Converter 5.0 [2006-02-26] by Markus Gebhard  markus@jave.de   = -->
<!-- =     Further information: http://www.java2html.de     = -->
<div align="left" class="java">
<table border="2" cellpadding="3" cellspacing="0" bgcolor="#ffffff">
  <!-- start headline -->
   <tr>
    <td colspan="2">
     <center><font size="+2">
      <code><b>
Presentation.java
      </b></code>
     </font></center>
    </td>
   </tr>
  <!-- end headline -->
   <tr>
  <!-- start source code -->
   <td nowrap="nowrap" valign="top" align="left">
    <code>
<font color="#808080">01</font>&nbsp;<font color="#3f7f5f">/*</font><br />
<font color="#808080">02</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*&nbsp;File:&nbsp;$URL:&nbsp;svn+ssh://chimay/home/svn/VkGraph-showcase/VkGraph-showcase/src/main/java/fr.vekia.tools.showcase.vkgraph/client/showcase/application/views/presentation/Presentation.java&nbsp;$</font><br />
<font color="#808080">03</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*&nbsp;$Id:&nbsp;Presentation.java&nbsp;42&nbsp;2012-08-31&nbsp;13:58:13Z&nbsp;svandecappelle&nbsp;$</font><br />
<font color="#808080">04</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*&nbsp;Licence&nbsp;MIT</font><br />
<font color="#808080">05</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*</font><br />
<font color="#808080">06</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*&nbsp;Last&nbsp;change:</font><br />
<font color="#808080">07</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*&nbsp;$Date:&nbsp;2012-08-31&nbsp;15:58:13&nbsp;+0200&nbsp;(ven.,&nbsp;31&nbsp;ao&ucirc;t&nbsp;2012)&nbsp;$</font><br />
<font color="#808080">08</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*&nbsp;$Author:&nbsp;svandecappelle&nbsp;$</font><br />
<font color="#808080">09</font>&nbsp;<font color="#ffffff">&nbsp;</font><font color="#3f7f5f">*/</font><br />
<font color="#808080">10</font>&nbsp;<font color="#7f0055"><b>package&nbsp;</b></font><font color="#000000">fr.vekia.tools.showcase.vkgraph.client.showcase.application.views.presentation;</font><br />
<font color="#808080">11</font>&nbsp;<font color="#ffffff"></font><br />
<font color="#808080">12</font>&nbsp;<font color="#7f0055"><b>import&nbsp;</b></font><font color="#000000">com.google.gwt.dom.client.Style.Unit;</font><br />
<font color="#808080">13</font>&nbsp;<font color="#7f0055"><b>import&nbsp;</b></font><font color="#000000">com.google.gwt.event.dom.client.HasClickHandlers;</font><br />
<font color="#808080">14</font>&nbsp;<font color="#7f0055"><b>import&nbsp;</b></font><font color="#000000">com.google.gwt.user.client.ui.Anchor;</font><br />
<font color="#808080">15</font>&nbsp;<font color="#7f0055"><b>import&nbsp;</b></font><font color="#000000">com.google.gwt.user.client.ui.Button;</font><br />
<font color="#808080">16</font>&nbsp;<font color="#7f0055"><b>import&nbsp;</b></font><font color="#000000">com.google.gwt.user.client.ui.HTML;</font><br />
<font color="#808080">17</font>&nbsp;<font color="#7f0055"><b>import&nbsp;</b></font><font color="#000000">com.google.gwt.user.client.ui.SimplePanel;</font><br />
<font color="#808080">18</font>&nbsp;<font color="#7f0055"><b>import&nbsp;</b></font><font color="#000000">com.google.gwt.user.client.ui.VerticalPanel;</font><br />
<font color="#808080">19</font>&nbsp;<font color="#ffffff"></font><br />
<font color="#808080">20</font>&nbsp;<font color="#7f0055"><b>public&nbsp;class&nbsp;</b></font><font color="#000000">Presentation&nbsp;</font><font color="#7f0055"><b>extends&nbsp;</b></font><font color="#000000">SimplePanel&nbsp;</font><font color="#000000">{</font><br />
<font color="#808080">21</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#7f0055"><b>private&nbsp;static&nbsp;final&nbsp;</b></font><font color="#000000">Button&nbsp;startDemoButton&nbsp;=&nbsp;</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">Button</font><font color="#000000">(</font><font color="#2a00ff">&#34;Start&nbsp;automated&nbsp;presentation...&#34;</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">22</font>&nbsp;<font color="#ffffff"></font><br />
<font color="#808080">23</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#7f0055"><b>public&nbsp;</b></font><font color="#000000">Presentation</font><font color="#000000">()&nbsp;{</font><br />
<font color="#808080">24</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">VerticalPanel&nbsp;introduction&nbsp;=&nbsp;</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">VerticalPanel</font><font color="#000000">()</font><font color="#000000">;</font><br />
<font color="#808080">25</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.setWidth</font><font color="#000000">(</font><font color="#2a00ff">&#34;100%&#34;</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">26</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">startDemoButton.getElement</font><font color="#000000">()</font><font color="#000000">.setId</font><font color="#000000">(</font><font color="#2a00ff">&#34;StartDemo-Button&#34;</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">27</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.getElement</font><font color="#000000">()</font><font color="#000000">.getStyle</font><font color="#000000">()</font><font color="#000000">.setPaddingRight</font><font color="#000000">(</font><font color="#990000">30</font><font color="#000000">,&nbsp;Unit.PX</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">28</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">startDemoButton.setWidth</font><font color="#000000">(</font><font color="#2a00ff">&#34;100%&#34;</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">29</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.add</font><font color="#000000">(</font><font color="#000000">startDemoButton</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">30</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.add</font><font color="#000000">(</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">HTML</font><font color="#000000">(</font><font color="#2a00ff">&#34;&lt;h1&gt;Introduction&lt;/h1&gt;&#34;</font><font color="#000000">))</font><font color="#000000">;</font><br />
<font color="#808080">31</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.add</font><font color="#000000">(</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">HTML</font><font color="#000000">(</font><font color="#2a00ff">&#34;&lt;h2&gt;Requirements&lt;/h2&gt;&#34;</font><font color="#000000">))</font><font color="#000000">;</font><br />
<font color="#808080">32</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.add</font><font color="#000000">(</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">HTML</font><font color="#000000">(</font><font color="#2a00ff">&#34;&lt;dd&gt;-&nbsp;A&nbsp;Google&nbsp;Web&nbsp;Toolkit&nbsp;project.&#34;</font><font color="#000000">))</font><font color="#000000">;</font><br />
<font color="#808080">33</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.add</font><font color="#000000">(</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">HTML</font><font color="#000000">(</font><font color="#2a00ff">&#34;&lt;h2&gt;Presentation&lt;/h2&gt;&#34;</font><font color="#000000">))</font><font color="#000000">;</font><br />
<font color="#808080">34</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.add</font><font color="#000000">(</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">HTML</font><font color="#000000">(</font><font color="#2a00ff">&#34;&lt;dd&gt;vklgraph&nbsp;is&nbsp;a&nbsp;GWT-based&nbsp;framework&nbsp;that&nbsp;integrate&nbsp;the&nbsp;JqPlot?&nbsp;JavaScript?&nbsp;Chart&nbsp;UI&nbsp;library.&#34;</font><font color="#000000">))</font><font color="#000000">;</font><br />
<font color="#808080">35</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">Anchor&nbsp;googleCodeAhref&nbsp;=&nbsp;</font><font color="#7f0055"><b>new&nbsp;</b></font><font color="#000000">Anchor</font><font color="#000000">(</font><font color="#2a00ff">&#34;The&nbsp;google&nbsp;code&nbsp;project&nbsp;here&#34;</font><font color="#000000">,&nbsp;</font><font color="#2a00ff">&#34;http://code.google.com/p/vklgraph/&#34;</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">36</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">googleCodeAhref.setTarget</font><font color="#000000">(</font><font color="#2a00ff">&#34;_new&#34;</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">37</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">introduction.add</font><font color="#000000">(</font><font color="#000000">googleCodeAhref</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">38</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">setWidget</font><font color="#000000">(</font><font color="#000000">introduction</font><font color="#000000">)</font><font color="#000000">;</font><br />
<font color="#808080">39</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">}</font><br />
<font color="#808080">40</font>&nbsp;<font color="#ffffff"></font><br />
<font color="#808080">41</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#7f0055"><b>public&nbsp;</b></font><font color="#000000">HasClickHandlers&nbsp;getStartAutomatedDemoHandler</font><font color="#000000">()&nbsp;{</font><br />
<font color="#808080">42</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#7f0055"><b>return&nbsp;</b></font><font color="#000000">startDemoButton;</font><br />
<font color="#808080">43</font>&nbsp;<font color="#ffffff">&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#000000">}</font><br />
<font color="#808080">44</font>&nbsp;<font color="#ffffff"></font><br />
<font color="#808080">45</font>&nbsp;<font color="#000000">}</font></code>
    
   </td>
  <!-- end source code -->
   </tr>
</table>
</div>
<!-- =       END of automatically generated HTML code       = -->
<!-- ======================================================== -->


</body></html>