/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: auto;
	text-align: center;
}

body {
	color: white !important;
	background: url('../../../img/themes/dark/background.jpg') !important;
}

.gwt-MenuBar {
	color: black;
}

.gwt-Tree .gwt-TreeItem:hover {
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.5;
	margin-left: -5px;
	padding-left: 29px !important;
}

.gwt-Tree .gwt-TreeItem-selected {
	color: red;
	margin-left: -5px;
	padding-left: 29px !important;
	background-color: transparent !important;
}

.gwt-Tree [role=treeitem] {
	display: block !important;
}

.folder-tree {
	background-repeat: no-repeat;
	background-position: 20px 2px;
	background-image: url('../../../img/tree/folder-icon-16.png');
}

.folder-tree .gwt-TreeItem .gwt-TreeItem-selected {
	background-color: black !important;
	color: black;
}

.folder-tree .gwt-TreeItem {
	padding-left: 15px !important;
}

/* ScrollBar webkit */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background: rgba(0, 0, 0, 0.8);
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.4);
}

.chart-item {
	background-repeat: no-repeat;
	background-image: url('../../../img/tree/plot-icon-16.png');
	padding-left: 5px !important;
	margin-left: 25px !important;
	margin-right: 5px;
}

.chart-item .gwt-TreeItem-selected {
	margin-left: -5px;
	padding-left: 29px !important;
}

.vkl-RightClicSelectionMenu {
	border: 1px solid #BCBCBC;
	box-shadow: 2px 2px 3px #BCBCBC;
}

.vkl-ExportPopup {
	border: 2px solid transparent !important;
}

.gwt-StackLayoutPanel {
	background: rgba(0, 0, 0, 0.2) !important;
	border-radius: 5px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	background: rgba(0, 0, 0, 0.4) !important;
	border-radius: 5px;
	border: 1px solid grey;
	text-shadow: 0px 0px 1px red, 0px 0px 2px grey;
	text-align: center;
	cursor: pointer;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	background: none !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	background: rgba(0, 0, 0, 0.6) !important;
	border-radius: 15px;
	border-width: 1px 1px 1px !important;
	margin-left: 10px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background: none !important;
	border-radius: 15px !important;
	margin-left: 15px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	border-radius: 15px 15px 0px 0px !important;
	margin-left: 4px !important;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: pointer;
}

.gwt-DialogBox {
	color: black;
}

.gwt-DialogBox .dialogMiddleCenter {
	background: rgba(0, 0, 0, 0.8) !important;
}

.gwt-DataTable {
	background: rgba(0, 0, 0, 0.4);
}

.gwt-DataTableTitle {
	background: rgba(0, 0, 0, 0.4);
	font-weight: bold;
}

.gwt-ImportantLabel {
	color: yellow;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	overflow: auto !important;
}

.gwt-TabLayoutPanelCustomDivContainer {
	overflow: auto !important;
}

.gwt-ResizableChart {
	border: 1px solid #AAA;
	padding: 18px;
}

.AutomatedDemo-Focus {
	border: 3px solid red !important;
	border-radius: 5px;
}

.MessagePopup {
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.8);
}

.buttonsWrap {
	float: right;
	margin: 11px 19px 0px 0px;
}

#sliderMain {
	width: 650px;
	padding: 10px;
	border: 5px solid black;
	margin: 0px auto;
	border-image: initial;
}
/** CSS is optional, but can be used for button styling. The above preview uses this CSS **/
.buttons,.control {
	background: #000000;
	padding: 3px 10px;
	margin: 5px;
	line-height: 0px;
	color: #FFFFFF;
	text-decoration: none;
}

.active {
	background: #00CC66;
	color: #00FF00;
}

.buttons:hover,.control:hover {
	background: #0099FF;
}

.consoleCode {
	background: white;
	overflow: auto;
	color: black;
}

.ui-effects-wrapper {
	z-index: -1;
}

.vkl-Anchor {
	color: red;
}

.vkl-Anchor:HOVER {
	color: white;
	cursor: pointer;
}

.vkl-Anchor:ACTIVE {
	color: lime;
}

.vkl-CenterPanel {
	background-color: rgba(0, 0, 0, 0.5);
}